<html>

    <head>
        <title>Todo List</title>
        <link rel="icon" type="image/png" href="/assets/1.png" />
        <script src="https://code.jquery.com/jquery-3.3.0.min.js"
            integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
            crossorigin="anonymous">
        </script>
        <script src="assets/todo-list.js"></script>
        <script src="/assets/client.js" type="text/javascript"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
        <link href="/assets/accordian.css" rel="stylesheet" type="text/css" />

        
    </head>

    <body>
    
        <div class="content-body">
            
            <div class="header">
                <div class="logo"></div>
                <div class="logouut">
                        <form method="post" action='/logout'>
                            <button type="submit" id="logout">Logout</button>
                        </form>
                </div>
                <span id="hellox"><span id="name"><%= data[0].username%>'s</span> Todo List</span>
            </div>
           
            <div class="mid-header">
                
            <div id="upcoming-events">
                    <% 
                        var upcomingEvents = [];
                        var today = new Date();
                        var curHr = today.getHours();
                        var curDa = today.getDay();
                        var curMin = today.getMinutes();
                        var weekday = [];
                        weekday[0] =  "Sunday";
                        weekday[1] = "Monday";
                        weekday[2] = "Tuesday";
                        weekday[3] = "Wednesday";
                        weekday[4] = "Thursday";
                        weekday[5] = "Friday";
                        weekday[6] = "Saturday";
                        var curDay = weekday[curDa];
                        if(curHr >= 12){
                            curHr = curHr-12;
                        }
                        if(curHr === 0){
                            curHr = 12;
                        }
                        var newTime, newMinute;
                        
                        
                     
                        for(var i=0; i < data[0].list.length; i++){
                            newTime = data[0].list[i].time.substring(0,2);
                            newMinute = data[0].list[i].time.split(":").pop().substring(0,2);
                            var y = parseInt(newTime);
                            var yy = parseInt(newMinute);
                            if(curDay === data[0].list[i].day){
                                if(curHr === y && curMin < yy){
                                    upcomingEvents.push(data[0].list[i]);
                                    break;
                                }
                                if( curHr+1 === y || curHr+2 === y) {
                                    upcomingEvents.push(data[0].list[i]);
                                }
                            }
                        }
                    %>
                    <span><span id="upcoming-text">Upcoming Events:  </span>
                        <% if(upcomingEvents.length === 0) { %> <span id="mid-text">none!</span> <% } %>
                        <% for(var i = 0; i < upcomingEvents.length; i++){ %>
                            <span id="mid-text">&#8226;<%= upcomingEvents[i].item %> at <%= upcomingEvents[i].time%> </span>
                        <% } %>
                    </span>
                </div>
            </div>
            <span class="today">Today is <span id="day"></span>, <span id="time"></span></span>
            

 
                <div class="form">
                <div class="c-add-item" id="infor">
                    Item has ben added!
                </div>
            
                <form method="post" id="add-form" action='/todo'>
                    <input class="tesst" type="text" id="item" name="item" placeholder="Add new item..." required />
                    <input class="tesst"  type="time" id="time" name="time" required> 
                    <select class="tesst"  name="day" placeholder="day" required>
                        <option value="" selected disabled>Select Day:</option>
                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select>
                    <button id="addButton" type="submit"<>Add Item</button>
                </form>

                </div>

            <div class="accordion-container">
                <span class="tooltiptext">Click on an item to remove from list</span>

                <div class="background"></div>

                <div class="custom-accordion">
                    <div class="item">
                        <div class="icon">Sunday</div>         
                        <div class="content">
                            <% for(var i=0; i < data[0].list.length; i++){ %>
                                <% if(data[0].list[i].day === "Sunday") { %>
                                    <li class="x"> <%= data[0].list[i].item %> 
                                        <span><br>Time: <%= data[0].list[i].time %> </span> </li>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">Monday</div>         
                        <div class="content">
                            <% for(var i=0; i < data[0].list.length; i++){ %>
                                <% if(data[0].list[i].day === "Monday") { %>
                                    <li class="x"> <%= data[0].list[i].item %> 
                                        <span><br>Time: <%= data[0].list[i].time %> </span> </li>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">Tuesday</div>         
                        <div class="content">
                            <% for(var i=0; i < data[0].list.length; i++){ %>
                                <% if(data[0].list[i].day === "Tuesday") { %>
                                    <li class="x"> <%= data[0].list[i].item %> 
                                        <span><br>Time: <%= data[0].list[i].time %> </span> </li>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">Wednesday</div>         
                        <div class="content">
                            <% for(var i=0; i < data[0].list.length; i++){ %>
                                <% if(data[0].list[i].day === "Wednesday") { %>
                                    <li class="x"> <%= data[0].list[i].item %> 
                                        <span><br>Time: <%= data[0].list[i].time %> </span> </li>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">Thursday</div>         
                        <div class="content">
                            <% for(var i=0; i < data[0].list.length; i++){ %>
                                <% if(data[0].list[i].day === "Thursday") { %>
                                    <li class="x"> <%= data[0].list[i].item %> 
                                        <span><br>Time: <%= data[0].list[i].time %> </span> </li>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">Friday</div>         
                        <div class="content">
                            <% for(var i=0; i < data[0].list.length; i++){ %>
                                <% if(data[0].list[i].day === "Friday") { %>
                                    <li class="x"> <%= data[0].list[i].item %> 
                                        <span><br>Time: <%= data[0].list[i].time %> </span> </li>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">Saturday</div>         
                        <div class="content">
                            <% for(var i=0; i < data[0].list.length; i++){ %>
                                <% if(data[0].list[i].day === "Saturday") { %>
                                    <li class="x"> <%= data[0].list[i].item %> 
                                        <span><br>Time: <%= data[0].list[i].time %> </span> </li>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
        </div>
        </div>
       
    </body>

</html>

<script> 
    var dt = new Date();
    var weekday = [];
    weekday[0] =  "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
    document.getElementById("day").innerHTML = weekday[dt.getDay()];
    document.getElementById("time").innerHTML = dt.toLocaleTimeString();
</script>


<!--
<script type ="text/javascript">
        const pusher = new Pusher('687a0fbbb2ad09dd9ec4', { 
            cluster: 'us3',
            forceTLS: true
        });
        Pusher.logToConsole = true;
        /*
        // retrieve the socket ID once we're connected
        pusher.connection.bind('connected', function () {
            // attach the socket ID to all outgoing Axios requests
            axios.defaults.headers.common['X-Socket-Id'] = pusher.connection.socket_id;
        });
        */
        // request permission to display notifications, if we don't alreay have it
        //Notification.requestPermission();
        var x = "<%= data[0]._id%>";
        var name = "<%= data[0].username %>";
   
        const channel = pusher.subscribe(`os-${x}`);
        channel.bind('ox', function(data) {
         
            "<% var isUndefined = 1; if(event[0] !== undefined){ var xx = event[0].time; var xy = event[0].item; isUndefined = 0} %>"
            var isUndefined = "<%= isUndefined %>";
            console.log(isUndefined);
            
            if(isUndefined !== 1){
                var time = "<%= xx%>";
                var item = "<%= xy%>";
                var n = new Notification("Upcoming Event!", {
                    body: `Hello ${name}, you have to ${item} at ${time}`,
                    icon: "/assets/icon.png",
                    vibrate: [100, 100, 100]
                });
                Notification.onclick = function (event){
                event.preventDefault();
                n.close();
                }
            }
    });
    channel.bind('pusher:subscription_succeeded', function(data) {
        
    });
    </script>
    -->